/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --font-text: "Oswald", sans-serif;
  color: #e8efee;
}

* {
  font-family: var(--font-text);
}

body{
  background-color: #0F0933;
  margin-right: 15%;
  margin-left: 15%;
}

#title{
  color: #44E8FB;
  text-transform: uppercase;
}


.searchBar {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
}

input {
  border-radius: 50px;
  border: 1px solid transparent;
  background: none;
  width: 80%;
  color: white;
  font-size: 1rem;
  background:
    linear-gradient(#02052b, #02052b) padding-box,
    linear-gradient(135deg, #44E8FB, #CF26D5) border-box;
  padding: 10px 15px;
}

input:focus{
 outline: none;
}

input::placeholder{
 color: #ced1d1;
 font-size: 1rem;
}

.boite {
  border-radius: 50px;
  border: 3px solid transparent; /* on garde une bordure transparente */
  padding: 2%;
  margin-bottom: 5%;

  /* 1er gradient = fond de la carte
     2e gradient = bordure dégradée */
  background:
    linear-gradient(#02052b, #02052b) padding-box,
    linear-gradient(135deg, #44E8FB, #CF26D5) border-box;
  position: relative;
  
  
}

.imageEtText {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.image{
  border-radius: 50px;
  padding: 1%;
  margin-bottom: 5%;

  /* 1er gradient = fond de la carte
     2e gradient = bordure dégradée */
  background:
    linear-gradient(135deg, #44E8FB, #CF26D5) border-box;
  max-width: 400px;
  max-height: 400px;
  width: 50vw ;
}


/* .boiteImage{
  border-radius: 50px;
  background-color: #06141b; 
  padding: 3%;
  width: 100%;
} */

.boiteText{
  /* background-color: aquamarine; */
  padding: 3%;
  width: 100%;
}

.title{
  text-transform: uppercase;
  font-size: 25px
}


.text {
  font-size: 18px;
}

.boutonSeeMore{
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, #44E8FB,  #CF26D5);
  text-transform: uppercase;
}

.boutonSeeLess{
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, #44E8FB,  #CF26D5);
  text-transform: uppercase;
}

.hide{
  display : none
}

.description{
  /* background-color: violet; */
}

#returnBouton{
  text-align: center;
}

#texteDesole{
  text-transform: uppercase;
}

#texteColor{
  color: #CF26D5;
}

#boutonRetour{
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, #44E8FB,  #CF26D5);
  text-transform: uppercase;
}


@media (max-width: 1024px) { 
 
  #title {
    justify-self : center ;
  }
  
  .searchBar {
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
  align-items : center
  }
  
  .imageEtText {
  display: flex;
  flex-direction: column;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.boiteText{
  text-align: center;
}

.title{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 16px;
  text-align: center;
}
  
.text{
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

.boutonSeeMore{
  text-align: center
}


.description{
  /* background-color: violet; */
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
}

}


@media (max-width: 600px) { 
  
  #title {
    justify-self : center ;
  }
  
  .searchBar {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
  align-items : center
  }
  
  .imageEtText {
  display: flex;
  flex-direction: column;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.boiteText{
  text-align: center;
}

.title{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 12px;
  text-align: center;
}
  
.text{
  font-size: 12px ;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

.boutonSeeMore{
  text-align: center
}


.description{
  /* background-color: violet; */
  font-size: 10px ;
  margin-left: 10%;
  margin-right: 10%;
}
  
}
