@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --font-text: "Josefin Sans", sans-serif;
  --color-white: #e8efee;
  --color-font-one: #e8efee;
  --color-font-two :#49dcea;
  --color-font-three :#dc6de8;
  --color-one: #0d151e;
  --color-two: #00a0ad;
  --color-three: #5e0567;
  --color-four:#26012a;
}

* {
  font-family: var(--font-text);
}

a{
  color: var(--color-four);
}

body{
  background: linear-gradient(135deg, var(--color-one), var(--color-four));
}

header{
  background: 
  linear-gradient(135deg, var(--color-one), var(--color-four));
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-right: 10%;
  position: fixed;
  z-index: 1000;
  top :0 ;
}

#header-container{
  justify-items: center;
}

#title{
  font-size: 50px;
  color: var(--color-font-one);
  text-transform: uppercase;
}

label{
  font-weight: 900;
  color: var(--color-font-two);
  margin-bottom: 5%;
}

#search{
  width: 50vw;
  align-self: center;
}

.searchBar {
  align-items: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 2%;
}

input {
  font-weight: 900;
  border-radius: 50px;
  border: 1px solid transparent;
  background: none;
  width: 80%;
  color: var(--color-font-one);
  font-size: 1rem;
  background:
    linear-gradient(var(--color-one), var(--color-four)) padding-box,
    linear-gradient(135deg, var(--color-two), var(--color-three)) border-box;
  padding: 10px 15px;
}

input:focus{
 outline: none;
}

input::placeholder{
 font-weight: 900;
 color: var(--color-font-two);
 font-size: 1rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#event{
  margin-top: 20%;
  margin-right: 15%;
  margin-left: 15%;
}

.boite {
  color: var(--color-font-one);
  border-radius: 50px;
  border: 3px solid transparent; /* on garde une bordure transparente */
  padding: 2%;
  margin-bottom: 5%;

  /* 1er gradient = fond de la carte
     2e gradient = bordure dégradée */
  background:
    linear-gradient(var(--color-one), var(--color-four)) padding-box,
    linear-gradient(135deg, var(--color-two), var(--color-three)) border-box;
  position: relative;
  
  
}

.imageEtText {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.image{
  border-radius: 50px;
  padding: 1%;

  /* 1er gradient = fond de la carte
     2e gradient = bordure dégradée */
  background:
    linear-gradient(135deg,var(--color-two), var(--color-three)) border-box;
  max-width: 400px;
  max-height: 400px;
  width: 50vw ;
}

.boiteText{
  /* background-color: aquamarine; */
  padding: 3%;
  width: 100%;
}

.title{
  color: var(--color-font-three);
  text-transform: uppercase;
  font-size: 25px
}

.dateStart{
  color: var(--color-font-two);
}

.dateEnd{
  color: var(--color-font-three);
}

.text {
  text-align: justify;
  font-size: 18px;
}

.boutonSeeMore{
  font-weight: 1000;
  padding: 2%;
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, var(--color-two), var(--color-three));
  text-transform: uppercase;
}

.boutonSeeLess{
  font-weight: 1000;
  padding: 2%;
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, var(--color-two), var(--color-three));
  text-transform: uppercase;
}

.hide{
  display : none
}

.description{
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  /* background-color: violet; */
}

img{
  max-width: 500px;
}


#returnBouton{
  margin-top: 20%;
  text-align: center;
}

#texteDesole{
  color: var(--color-font-one);
  text-transform: uppercase;
}

#texteColor{
  color: var(--color-font-three);
}

#boutonRetour{
  font-weight: 1000;
  max-width: 1000px;
  padding: 1.5%;
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, var(--color-four), var(--color-three));
  text-transform: uppercase;
}


@media (max-width: 1024px) { 

  #header-container{
    margin-left: 3%;
    margin-right: 5%;
  }
 
  #title {
    font-size: 60px;
    justify-self : center ;
  }

  label{
    font-size: 20px;
  }

 input::placeholder{
 font-size: 20px;
}

  input{
    font-size: 25px;
  }

  #event{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 32%;
  }
  
  .searchBar {
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
  align-items : center
  }

  .imageEtText {
  display: flex;
  flex-direction: column;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.boiteText{
  text-align: center;
}

.image{
  width: 80vw ;
}

.title{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 16px;
  text-align: center;
}
  
.text{
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

.boutonSeeMore{
  text-align: center
}


.description{
  /* background-color: violet; */
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
}

}


@media (max-width: 600px) { 

  #header-container{
    margin-left: 5%;
    margin-right: 8%;
  }
  
  #title {
    font-size: 12px;
    text-align: center;
    justify-self : center ;
  }
  
  .searchBar {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
  align-items : center
  }

  #search {
    width: 90%;
  }

  #event{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:50%;
  }
  
  .imageEtText {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.image{
  margin-bottom: 15%;
  width: 60vw ;
}

.boiteText{
  text-align: center;
}

.title{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15%;
}
  
.text{
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 15%;
}

.boutonSeeMore{
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 5%;
}

.boutonSeeLess{
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 5%;
}


.description{
  /* background-color: violet; */
  font-size: 12px ;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

img{
  max-width: 100px;
}

#returnBouton{
  /* margin-top: 60%; */
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#boutonRetour{
  width: 100%;
  height: 100%;
  padding: 5%;
}
}