@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --font-text: "Josefin Sans", sans-serif;
  --color-white: #e8efee;
  --color-font-one: #e8efee;
  --color-font-two :#d9c075;
  --color-font-three :#1cb582;
  --font-weight-thin : 200 ;
  --font-weight-normal : 400;
  --font-weight-bold : 800; 
  --color-one: #0b1e27;
  --color-two: #d9c075;
  --color-three: #b19235;
  --color-four:#0c2b38;
  --color-five:#1cb582;
  --color-six :#116147;
}

* {
  font-family: var(--font-text);
  font-weight: var(--font-weight-thin);
  letter-spacing: 1.5px;
}

a{
  color: var(--color-five);
}

body{
  margin: 0;
  background: linear-gradient(135deg, var(--color-one), var(--color-four));
}

/* 
----------HEADER----------
*/

header{
  background: 
  linear-gradient(135deg, var(--color-one), var(--color-four));
  background-size: cover;
  background-position: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top :0 ;
}

#header-container{
  justify-items: center;
}

#title{
  font-size: 50px;
  color: var(--color-font-one);
  font-weight: var(--font-weight-thin);
  text-transform: uppercase;
}

.searchBar {
  align-items: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 2%;
}

label{
  font-weight: 900;
  color: var(--color-font-two);
  font-weight: var(--font-weight-normal);
  margin-bottom: 5%;
}

#search{
  width: 50vw;
  align-self: center;
}

input {
  font-weight: var(--font-weight-normal);
  border-radius: 50px;
  border: 2px solid transparent;
  background: none;
  width: 80%;
  color: var(--color-font-one);
  font-size: 1rem;
  background:
    linear-gradient(var(--color-one), var(--color-four)) padding-box,
    linear-gradient(135deg, var(--color-two), var(--color-three)) border-box;
  padding: 10px 15px;

  /* Animation */
  transition: background 0.3s ease, transform 0.3s ease;
}

input:hover{
  background: 
    linear-gradient(var(--color-four), var(--color-one)) padding-box,
    linear-gradient(135deg, var(--color-three), var(--color-two)) border-box;
  transform: scale(1.05);

}

input:focus{
 outline: none;
}

input::placeholder{
 font-weight: var(--font-weight-normal);
 color: var(--color-font-two);
 font-size: 1rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.filtreFavoris{
  margin-top: .5%;
  font-weight: var(--font-weight-normal);
  padding: 1%;
  border-radius: 10px;
  color: #dd364a;
  margin-right: 2%;
  border-style : none;
  border: 2px solid transparent;
  background: 
    linear-gradient(var(--color-one), var(--color-four)) padding-box,
    linear-gradient(135deg, #dd364a, #8e1b29) border-box;;
  text-transform: uppercase;
  font-size: 9px;

  /* Animation */
  transition: background 0.3s ease, transform 0.3s ease;

}

.filtreFavoris:hover{
  font-weight: var(--font-weight-bold);
  color: var(--color-font-one);
  background: 
    linear-gradient(#dd364a, #8e1b29) padding-box,
    linear-gradient(135deg, #8e1b29, #dd364a) border-box;
  transform: scale(1.05);
}

/* 
----------EVENTS----------
*/

#event{
  margin-top: 20.5%;
  margin-right: 15%;
  margin-left: 15%;
  position: relative;
}

.boite {
  color: var(--color-font-one);
  border-radius: 25px;
  border: 4px solid transparent; /* on garde une bordure transparente */
  padding: 2%;
  margin-bottom: 5%;

  /* 1er gradient = fond de la carte
     2e gradient = bordure dégradée */
  background:
    linear-gradient(var(--color-one), var(--color-four)) padding-box,
    linear-gradient(135deg, var(--color-two), var(--color-three)) border-box;
  position: relative;

  /* Animation */
  transition: background 0.3s ease, transform 0.3s ease;
}


.boite:hover{
  background: 
    linear-gradient(var(--color-four), var(--color-one)) padding-box,
    linear-gradient(135deg, var(--color-five), var(--color-four)) border-box;
  transform: scale(1.05);
}

.imageEtText {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.boutonFavoris{
  width: 44px;
  height: 44px;
  background-color: #e8efee;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  right : 24px;
}

.boutonFavoris img {
  width: 22px;
  height: 22px;
}

.image{
  margin-top: 3%;
  border-radius: 25px;
  padding: 1%;

  /* 1er gradient = fond de la carte
     2e gradient = bordure dégradée */
  background:
    linear-gradient(135deg,var(--color-two), var(--color-three)) border-box;
  max-width: 450px;
  max-height: 400px;
}

.tag{
  font-weight: var(--font-weight-normal);
  padding: 2%;
  border-radius: 10px;
  color: white;
  margin-right: 2%;
  border-style : none;
  border: 1px solid transparent;
  background: 
    linear-gradient(var(--color-one), var(--color-four)) padding-box,
    linear-gradient(135deg, var(--color-three), var(--color-six)) border-box;;
  text-transform: uppercase;
  font-size: 9px;

}

.boiteText{
  /* background-color: aquamarine; */
  padding: 3%;
  width: 100%;
}

.lieu{
  font-size: 18px;
  color : var(--color-two);
  font-weight: var(--font-weight-thin);
}

.title{
  color: var(--color-font-three);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  font-size: 25px
}

.adress{
  color: var(--color-font-one);
  font-weight: var(--font-weight-normal);
}

.dateStart{
  color: var(--color-font-two);
  font-weight: var(--font-weight-bold);
}

.dateEnd{
  color: var(--color-font-three);
  font-weight: var(--font-weight-bold);
}

.text {
  font-weight: var(--font-weight-thin);
  text-align: justify;
  font-size: 18px;
}

.boutonSeeMore{
  font-weight: var(--font-weight-bold);
  padding: 2%;
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, var(--color-five), var(--color-six));
  text-transform: uppercase;

  /* Animation */
  transition: background 0.3s ease, transform 0.3s ease;
}

.boutonSeeMore:hover{
  background: linear-gradient(135deg, var(--color-two), var(--color-three)); 
  transform: scale(1.05);
}

.boutonSeeLess{
  font-weight: var(--font-weight-bold);
  padding: 2%;
  border-radius: 24px;
  color: var(--color-font-one);
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, var(--color-two), var(--color-three));
  text-transform: uppercase;

  /* Animation */
  transition: background 0.3s ease, transform 0.3s ease;
}

.boutonSeeLess:hover{
  background: linear-gradient(135deg, var(--color-five), var(--color-six)); 
  transform: scale(1.05);
}

.hide{
  display : none
}

.description{
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  /* background-color: violet; */
}

img{
  max-width: 500px;
}

/* 
----------RETOUR----------
*/


#returnBouton{
  margin-top: 20%;
  text-align: center;
}

#texteDesole{
  color: var(--color-font-one);
  text-transform: uppercase;
}

#texteColor{
  color: var(--color-font-three);
  font-weight: var(--font-weight-bold);
}

#boutonRetour{
  font-weight: 1000;
  max-width: 1000px;
  padding: 1.5%;
  border-radius: 24px;
  color: white;
  margin-right: 2%;
  border-style : none;
  background: linear-gradient(135deg, var(--color-two), var(--color-three));
  text-transform: uppercase;
}

/* 
----------ERREUR FAVORIS----------
*/

#erreurFavoris{
  margin-top: 20%;
  text-align: center;
}

#texteErreur{
  color: var(--color-font-one);
  text-transform: uppercase;
}

#textConseil{
  color: #dd364a;
  font-weight: var(--font-weight-bold);
}


@media (max-width: 1024px) { 

  header{
    max-height: 34%;
  }

  #header-container{
    margin-left: 3%;
    margin-right: 5%;
  }
 
  #title {
    font-size: 60px;
    justify-self : center ;
  }

  label{
    font-size: 20px;
  }

 input::placeholder{
 font-size: 20px;
}

  input{
    font-size: 25px;
  }

  .filtreFavoris{
    font-size: 12px;
  }


  #event{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 32%;
  }
  
  .searchBar {
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
  align-items : center
  }

  .boutonFavoris{
  width: 40px;
  height: 40px;
  right : 20px;
}

  .imageEtText {
  display: flex;
  flex-direction: column;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.boiteText{
  text-align: center;
}

.image{
  margin-top: .5%;
  min-width: 600px;
}

.lieu{
  font-size: 22px;
}

.title{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 30px;
  text-align: center;
}

/* .dateStart{
  background-color: var(--color-two);
  padding: 1%;
  color: var(--color-font-one);
  margin-left: 30%;
  margin-right: 30%;
}

.dateEnd{
  background-color: var(--color-five);
  padding: 1%;
  color: var(--color-font-one);
  margin-left: 30%;
  margin-right: 30%;
} */
  
.text{
  font-size: 16px ;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

.boutonSeeMore{
  text-align: center;
}


.description{
  /* background-color: violet; */
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
}

#boutonRetour{
  margin-top: 3%;
  width: 30%;
}

}


@media (max-width: 600px) { 

  #header-container{
    margin-left: 5%;
    margin-right: 8%;
  }

  .boite{
    margin-bottom: 15%;
  }
  
  #title {
    font-size: 20px;
    text-align: center;
    justify-self : center ;
  }

  label{
    font-size: 12px;
  }
  
  .searchBar {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap : .25rem;
  margin-bottom: 5%;
  align-items : center
  }

  #search {
    width: 90%;
  }

   input::placeholder{
 font-size: 12px;
}

  input{
    font-size: 12px;
  }

  .filtreFavoris{
    font-size: 9px;
  }

  #event{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:50%;
  }

  .boutonFavoris{
  width: 40px;
  height: 40px;
  right : 10px;
  top: 15px;
}

.boutonFavoris img{
  width: 25px;
  height: 25px;
}
  
  .imageEtText {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-items : center;
}

.image{
  min-width: 0;
  width: 100%;
  max-width: 300px;
  margin-bottom: 5%;
}

.boiteText{
  text-align: center;
}


.title{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15%;
}
  
.text{
  font-size: 14px ;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 15%;
}

.boutonSeeMore{
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 5%;
}

.boutonSeeLess{
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 5%;
}


.description{
  /* background-color: violet; */
  font-size: 12px ;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

img{
  max-width: 100px;
}

#returnBouton{
  /* margin-top: 60%; */
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#boutonRetour{
  width: 100%;
  height: 100%;
  padding: 5%;
}

#erreurFavoris{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
}

